<div class="row justify-content-center">
  <div class="col-9">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="h2-label" >
      <h2>Change your password</h2>
    </div>
  
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <form class="row">
        <div class="field">
          <%= f.label :password, "New password" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted">(<%= @minimum_password_length %>characters minimum)</small>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.submit "Change my password", class: 'btn btn-primary' %>
        </div>
      </form>  
    <% end %>

      <%= render "devise/shared/links" %>
    </form>
  </div>
</div>