<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
  <%= link_to 'FinanceTracker', root_path, class: 'navbar-brand' %>
  
  <% if current_user %> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <%= link_to 'My Portfolio', my_portfolio_path, class: 'nav-link' + (' active' if current_page?(my_portfolio_path)).to_s %>
      </li>
        <li class="nav-item %>">
        <%= link_to 'My Friends', my_friends_path, class: 'nav-link' + (' active' if current_page?(my_friends_path)).to_s %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <%= icon('fa-solid', 'pen-to-square') %> Edit profile
            <% end %>
            <li><a class="dropdown-item" href="#">Dividends</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Transactions</a></li>
            <li><a class="dropdown-item" href="#">Categories</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class='nav-item user-name'>
          <%= icon('fa-solid', 'user-large') %> <%= current_user.full_name %> 
        </li>
        <li class='nav-item'>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger logout-button" %>
        </li>
      </ul>
      
      
    </div>
  <% end %>
</div>
</nav>